{% extends "base.html" %}

{% block title %}О нас - Flask Website{% endblock %}

{% block content %}
<h1>О нас</h1>
<div class="row mt-4">
    <div class="col-lg-8">
        <p class="lead">Мы - команда разработчиков, создающая современные веб-приложения.</p>
        
        <h3 class="mt-4">Наша миссия</h3>
        <p>Создавать качественные и удобные веб-решения для наших клиентов, используя передовые технологии и лучшие практики разработки.</p>
        
        <h3 class="mt-4">Наши ценности</h3>
        <ul>
            <li>Качество и надежность</li>
            <li>Инновационный подход</li>
            <li>Клиентоориентированность</li>
            <li>Постоянное развитие</li>
        </ul>
        
        <h3 class="mt-4">История компании</h3>
        <p>Наша компания была основана в 2020 году группой энтузиастов, увлеченных веб-разработкой. За годы работы мы реализовали множество успешных проектов и заслужили доверие наших клиентов.</p>
    </div>
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Наши достижения</h5>
                <ul class="list-unstyled">
                    <li>100+ реализованных проектов</li>
                    <li>50+ довольных клиентов</li>
                    <li>4 года на рынке</li>
                    <li>24/7 поддержка</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}